@if (data(); as d) {
<div class="detail-container">
  <div class="title-section">
    <button class="back-btn" [routerLink]="['/claims', d.policyId]">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="glass-card detail-header-card">
    <div class="header-content">
      <h1 class="orange-text">{{ d.claimNumber || '---' }}</h1>
      <p class="subtitle">Claim Number</p>
    </div>

    <div class="header-actions">
      <div class="status-indicator">
        <span class="dot pulse-amber"></span>
        <span class="badge badge-pending">{{data()?.status}}</span>
      </div>
    </div>
  </div>

  <div class="full-width-info">
    <span class="label">Claim Description</span>
    <div class="value-text">
      {{data()?.description}}
    </div>
  </div>

  <div class="full-width-info">
    <span class="label">Remarks</span>
    <div class="value-text italic">
      {{data()?.remarks}}
    </div>
  </div>

  <div class="detail-grid-layout">
    <div class="glass-card highlight-border">
      <h2 class="section-title">
        <mat-icon>account_balance_wallet</mat-icon> Settlement Summary
      </h2>

      <div class="payout-hero">
        <span class="label">Estimated Payout</span>
        <!-- <div>&nbsp;</div> -->
        <div class="main-value">
          {{ (data()?.approvedAmount | currency:'USD':'symbol':'1.2-2') || "---" }}
        </div>
        <!-- <div>&nbsp;</div> -->
      </div>

      <div class="info-grid-internal">
        <div class="info-box">
          <span class="label">Repair Amount</span>
          <!-- <div class="value-small">$4,500.00</div> -->
          <div class="value-small">{{ data()?.requestedAmount | currency:'USD':'symbol':'1.2-2' }}</div>
        </div>
      </div>
    </div>

    <div class="glass-card">
      <h2 class="section-title">
        <mat-icon>event_note</mat-icon> Incident Report
      </h2>
      <div class="info-grid-internal">
        <div class="info-box">
          <span class="label">Date of Incident</span>
          <!-- <div class="value">Oct 12, 2024</div> -->
          <div class="value">{{ data()?.incidentDate | date:'mediumDate' }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="glass-card">
    <!-- <h2 class="section-title">
      <mat-icon>photo_library</mat-icon> Uploaded Proofs
    </h2> -->

    <h2 class="section-title"
      style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <div
        style="display: flex; align-items: center; gap: 10px; color: #ff8c33; font-weight: 700; letter-spacing: -0.5px;">
        <mat-icon>photo_library</mat-icon>
        <span>Uploaded Proofs</span>
      </div>

      <button mat-icon-button (click)="openAddImagesModal()" class="add-proof-btn" aria-label="Add new proof">
        <mat-icon>add_circle</mat-icon>
      </button>
    </h2>

    <div class="gallery-grid">
      @for (img of data()?.images; track img) {
      <div class="gallery-item">
        <img [src]="baseUrl + img" alt="Image">

        <div class="img-overlay">
          <button class="action-btn view-btn" (click)="viewImage(img)">
            <mat-icon>visibility</mat-icon> VIEW
          </button>
          <button class="action-btn download-btn" (click)="downloadImage(img)">
            <mat-icon>download</mat-icon> DOWNLOAD
          </button>
        </div>

        <div class="file-name-label"></div>
      </div>
      }
      @empty {
      <div class="empty-state">No proofs uploaded yet.</div>
      }
    </div>
  </div>
</div>
} @else {
<div class="loading-container">
  <p>Loading claim details...</p>
</div>
}

<!-- gal -->